*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(31, 3, 58);
}
.contener{
    width: 60%;
    text-align: center;
    margin: auto;
    color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#value{
    font-size: 52px;
    font-weight: bolder;
}
.btn{
    background: rgba(10, 121, 80, 0.568);
    padding: 10px 20px;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 30px;
    cursor: pointer;
}